:root {
    --font-size: 16px;
    --font: "Roboto", serif;
    --black-color: #000;
    --white-color: #fff;
    --metallic-blue: #34547A;
    --nickel-color: #727272;
    --bright-grey: #EEEFF1;
    --gap: 20px;
    --gap-lg: 40px;
    --gap-sm: 10px;
    --gap-xl: 80px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: var(--font-size);
    font-family: var(--font);
}

.container {
    max-width: 1110px;
    padding: 0 var(--gap);
    margin: 0 auto;
}

.bg-grey {
    background-color: var(--bright-grey);
}

.bg-metallic-blue {
    background-color: var(--metallic-blue);
}

header {
    padding: var(--gap-xl) 0;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

li a {
    text-decoration: none;
    color: var(--black-color);
}

header ul a:hover {
    color: var(--metallic-blue);
    transition: 0.3s linear;
}

.main-section {
    padding-top: var(--gap-xl);
    padding-bottom: 140px;
}

h1 {
    color: var(--black-color);
    font-weight: 500;
    font-size: 48px;
    line-height: 78px;
}

p {
    color: var(--nickel-color);
    font-weight: 400;
    font-size: var(--font-size);
    line-height: 26px;
    max-width: 540px;
    padding: 65px 0 65px;
}

.btn-write-me {
    background-color: var(--metallic-blue);
    color: var(--white-color);
    padding: 19px 41px 20px;
    font-weight: 400;
    font-size: var(--font-size);
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    border: none;
}

.btn-write-me:hover {
    opacity: .6;
    transition: opacity 0.3s;
}

.second-section, .fourth-section {
    padding: 112px var(--gap) 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.second-section p, .fourth-section p {
    padding-bottom: 0;
    text-align: center;
}

.third-section {
    padding: 100px 0;
}

.third-section ul {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 45px;
    color: var(--white-color);
}

.project-item {
    display: flex;
    gap: 20px;
}

.project-img {
    width: 50px;
    height: 50px;
}

.project-item p:first-child {
    color: var(--white-color);
    font-size: 21px;
    font-weight: 500;
    line-height: 24px;
    max-width: auto;
    padding: 0 0 10px 0;
}

.project-item p:last-child {
    color: var(--white-color);
    font-size: var(--font-size);
    font-weight: 400;
    line-height: 16px;
    max-width: auto;
    padding: 0;
}

h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 37px;
    text-align: center;
}

iframe {
    width: 1110px;
    height: 600px;
    margin-top: 50px;
}

footer {
    padding: 50px 0;
}

footer p:first-child {
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    color: var(--white-color);
    padding: 0 0 20px 0;
}

footer p:last-child {
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: var(--white-color);
    padding: 0;
}